USE [master]
GO
/****** Object:  Database [MyWebAppDb]    Script Date: 05-08-2025 16:31:46 ******/
CREATE DATABASE [MyWebAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyWebAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyWebAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyWebAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyWebAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyWebAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyWebAppDb]
GO
/****** Object:  UserDefinedTableType [dbo].[IntList]    Script Date: 05-08-2025 16:31:47 ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Director] [nvarchar](100) NULL,
	[ReleaseDate] [date] NULL,
	[Genre] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Mobile] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieId], [Title], [Director], [ReleaseDate], [Genre], [CreatedOn]) VALUES (5, N'dhom 3', NULL, CAST(N'2025-08-11' AS Date), N'action ', CAST(N'2025-08-05T16:01:55.203' AS DateTime))
INSERT [dbo].[Movies] ([MovieId], [Title], [Director], [ReleaseDate], [Genre], [CreatedOn]) VALUES (6, N'Interstellar', NULL, CAST(N'2025-08-19' AS Date), N'action ', CAST(N'2025-08-05T16:28:19.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Mobile], [PasswordHash], [CreatedOn]) VALUES (1, N'KIRAN PANDURANG HIVALE', N'hivalekiran49@gamil.com', N'09322857089', N'123456', CAST(N'2025-08-05T15:20:35.963' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Mobile], [PasswordHash], [CreatedOn]) VALUES (2, N'dome ', N'demo@gmail.com', N'4569823156', N'123456', CAST(N'2025-08-05T16:06:56.863' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Mobile], [PasswordHash], [CreatedOn]) VALUES (3, N'test bhai', N'test@gmail.com', N'1234567890', N'123456', CAST(N'2025-08-05T16:27:18.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105343C50E2A3]    Script Date: 05-08-2025 16:31:47 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMultipleMovies]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMultipleMovies]
    @MovieIds NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Split comma-separated string into a table
    DECLARE @IDs TABLE (ID INT);

    INSERT INTO @IDs (ID)
    SELECT CAST(value AS INT)
    FROM STRING_SPLIT(@MovieIds, ',');

    DELETE FROM Movies
    WHERE MovieId IN (SELECT ID FROM @IDs);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMovie]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddMovie]
    @Title NVARCHAR(100),
    @Genre NVARCHAR(50),
    @ReleaseDate DATE
AS
BEGIN
    INSERT INTO Movies (Title, Genre, ReleaseDate)
    VALUES (@Title, @Genre, @ReleaseDate)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMovie]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteMovie]
    @MovieId INT
AS
BEGIN
    DELETE FROM Movies WHERE MovieId = @MovieId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMovies]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllMovies]
AS
BEGIN
    SELECT * FROM Movies
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(256),
    @Mobile NVARCHAR(20),
    @PasswordHash NVARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if email already exists
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        -- Return a specific error code
        RETURN 1;
    END

    -- Insert the new user
    INSERT INTO Users (FullName, Email, Mobile, PasswordHash)
    VALUES (@FullName, @Email, @Mobile, @PasswordHash);

    -- Return success
    RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMovie]    Script Date: 05-08-2025 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateMovie]
    @MovieId INT,
    @Title NVARCHAR(100),
    @Genre NVARCHAR(50),
    @ReleaseDate DATE
AS
BEGIN
    UPDATE Movies
    SET Title = @Title, Genre = @Genre, ReleaseDate = @ReleaseDate
    WHERE MovieId = @MovieId
END
GO
USE [master]
GO
